.blockFilm {
  text-align: center;
}

.filmContainer {
  display: flex;
  padding-bottom: 40px;
}

.imgPhoto {
  width: 35%;
  padding-left: 120px;
}

.descriptionFilm {
  display: block;
  margin: auto;
}
/*--------------------------------------*/
.bloskRecom {
  display: flex;
}

.descriptionMovise {
  list-style-type: none;
}

#recomFilm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 0;
  grid-gap: 4rem 2rem;
}

.recomList {
  width: 60%;
}

.title {
  background-color: silver;
}
